# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BlockAllocator/BlockAllocator/main.cpp
BlockAllocator/BlockAllocator/BlockAllocator.vcxproj.user
BlockAllocator/BlockAllocator/BlockAllocator.vcxproj.filters
BlockAllocator/BlockAllocator/BlockAllocator.vcxproj
BlockAllocator/BlockAllocator.sln
BlockAllocator/.vs/BlockAllocator/v17/TestStore/0/testlog.manifest
BlockAllocator/.vs/BlockAllocator/v17/TestStore/0/000.testlog
BlockAllocator/.vs/BlockAllocator/v17/ipch/AutoPCH/5b6a08bde28af77f/TBLOCKALLOCATOR.ipch
BlockAllocator/.vs/BlockAllocator/v17/ipch/AutoPCH/1e6e18a78ec9f4e8/MAIN.ipch
BlockAllocator/.vs/BlockAllocator/v17/Browse.VC.opendb
BlockAllocator/.vs/BlockAllocator/v17/Browse.VC.db-wal
BlockAllocator/.vs/BlockAllocator/v17/Browse.VC.db-shm
BlockAllocator/.vs/BlockAllocator/v17/Browse.VC.db
BlockAllocator/.vs/BlockAllocator/v17/.suo
1/ConsoleApp1/Program.cs
1/ConsoleApp1/obj/project.nuget.cache
1/ConsoleApp1/obj/project.assets.json
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GlobalUsings.g.cs
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.genruntimeconfig.cache
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.FileListAbsolute.txt
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.CoreCompileInputs.cache
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.AssemblyReference.cache
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.assets.cache
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfoInputs.cache
1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs
1/ConsoleApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
1/ConsoleApp1/ConsoleApp1.sln
1/ConsoleApp1/ConsoleApp1.csproj
1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.runtimeconfig.json
1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.deps.json
1/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
1/ConsoleApp1/.vs/ConsoleApp1/v17/.futdcache.v1
1/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.exe.recipe
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.ilk
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.log
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/BlockAllocator.lastbuildstate
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/CL.command.1.tlog
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/CL.read.1.tlog
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/CL.write.1.tlog
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/link.command.1.tlog
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/link.read.1.tlog
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/link.write.1.tlog
BlockAllocator/BlockAllocator/x64/Debug/BlockAllocator.tlog/unsuccessfulbuild
BlockAllocator/BlockAllocator/x64/Debug/main.obj.enc
BlockAllocator/BlockAllocator/x64/Debug/tblockallocator.obj.enc
BlockAllocator/BlockAllocator/x64/Debug/vc143.idb
BlockAllocator/BlockAllocator/x64/Debug/vc143.pdb
BlockAllocator/x64/Debug/BlockAllocator.pdb
